@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,500&display=swap');

/* COLORS */

$primary-light-color: #FBFDFC;
$secondary-light-color: #DBB489;
$primary-dark-color: #5B4343;
$like-blue-color: #37485C;
$like-background: #112426;
$like-gray-color: #764D53;

/* FONT WEIGHTS */
$lighter-text: 200;
$light-text: 400;
$standard-text: 500;
$bold-text: 700;

